html {
    height: 100%;
    font-size: 100%;

    
}

body {
    font-family: 'Open Sans';
    color: black;
    min-height: 100%;
    
}
.navbar {
 
    padding: 1.0rem;
    background-color: white;
    border: 10px solid gray; 
    text-align: center;
    
}

.links-container .navbar-link {
    color: black;
    text-transform: uppercase;
    cursor: grab;
    margin: 0 2px;
    padding: 10;
    display: inline-block;
    justify-content: space-between;

}

.logo {
   float:left;
    margin-left: 5%;
    width: 200px;
    height: 50px;
    
    
}